.DS_Store
._.DS_Store
.vscode/
22G_RNAs/
comparisons/.ipynb_checkpoints/
igv_sessions
.transposon_annotation
screenshots/
.snakemake
results
results*
logs
logs*
dag.png
filegraph.png
rulegraph.png
nohup.out
conda
small_RNA_seq_15_C_repeats/
small_RNA_seq_25_C_repeats/
igv.log
plots_old
Untitled.ipynb
plot_proteins
old_notebooks
*.pdf
.ipynb_checkpoints
comparisons/list_of_*
comparisons/Untitled1.ipynb
plots/*/*.tsv
plots/tissue_enrichment_analysis/GSE62857*
plots/correlation_plots_IPs/union_exons.bed
plots/enrichment_of_classes/list_of_genes_overlap_with_repeats.txt
plots/enrichment_of_classes/list_of_repeats_overlap_with_genes.txt
plots/tissue_enrichment_analysis_multimappers/GSE62857_ce_geneExpression_soma_germline_normalized.txt
*.bed
upload_to_geo
comparisons/general_stats.ipynb
WAGO_3_IP
WAGO_9_IP
