.DS_Store
._.DS_Store
.vscode/
22G_RNAs/
comparisons/.ipynb_checkpoints/
igv_sessions
.transposon_annotation
screenshots/
.snakemake
results
results*
logs
logs*
dag.png
filegraph.png
rulegraph.png
nohup.out
conda
small_RNA_seq_15_C_repeats/
small_RNA_seq_25_C_repeats/
igv.log
plots_old
Untitled.ipynb
plot_proteins
old_notebooks
*.pdf
.ipynb_checkpoints
plots/*/*.tsv
